<ion-content [fullscreen]="true" class="detalhe-content">

  <div class="detalhe-container">

    <div class="top-area">
      <h1>Verde<span>Vegan</span></h1>

      <button class="cart-btn" (click)="abrirCarrinho()">
        <ion-icon name="cart-outline"></ion-icon>

        <span
          class="cart-badge"
          *ngIf="quantidadeCarrinho > 0">
          {{ quantidadeCarrinho }}
        </span>
      </button>
      
    </div>

    <div class="card">

      <ion-icon
        name="arrow-back-outline"
        class="back-icon"
        (click)="voltar()">
      </ion-icon>

    <div class="imagem-container">

      <div class="rating-vertical">

        <div class="stars-coluna">
          <span *ngFor="let estrela of gerarEstrelasArray(produto.rating)">
            {{ estrela }}
          </span>
        </div>

        <span class="rating-text">
          Rating {{ produto.rating }}
        </span>

      </div>

      <img
        [src]="produto.imagem"
        class="imagem-prato"
        alt="Prato">
    </div>

      <div class="titulo-preco">
        <h2>{{ produto.nome }}</h2>
        <span>{{ produto.preco }}</span>
      </div>

      <div class="info-linha">
        <p>⏱ Prep: {{ produto.tempo }}</p>
        <p>☆ 10 pontos</p>
      </div>

      <p class="descricao">
        {{ produto.descricao }}
      </p>

      <ul>
        <li *ngFor="let ingrediente of produto.ingredientes">
          {{ ingrediente }}
        </li>
      </ul>

      <button class="btn-preto" (click)="abrirModalIngredientes()">
        Mudar Ingredientes
      </button>

      <button class="btn-preto" (click)="adicionarAoCarrinho()">
        Adicionar ao carrinho
      </button>

    </div>

  </div>


  <div class="modal-overlay" *ngIf="modalIngredientesAberto">

    <div class="modal-card">

      <h3>Personalizar ingredientes</h3>

      <div
        class="ingrediente-opcao"
        *ngFor="let ingrediente of produto.ingredientesPersonalizaveis">
        <input
          type="checkbox"
          [checked]="ingredienteSelecionado(ingrediente)"
          (change)="alterarIngrediente(ingrediente, $event)"
        >

        <span>{{ ingrediente }}</span>

      </div>

      <button class="btn-guardar" (click)="guardarIngredientes()">
        Guardar ingredientes
      </button>

    </div>

  </div>

</ion-content>