<ion-content [fullscreen]="true" class="pagamento-content">

  <div class="pagamento-container">

    <div class="top-area">
      <h1>Verde<span>Vegan</span></h1>
    </div>

    <div class="card-pagamento">

      <div class="header-pagamento">
        <ion-icon
          name="arrow-back-outline"
          class="back-icon"
          (click)="voltar()">
        </ion-icon>

        <h2>PAGAMENTO</h2>
      </div>

      <h3>Dados de Entrega</h3>

      <div class="input-box">
        <input
          type="text"
          placeholder="Nome completo"
          [(ngModel)]="nome">
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Morada"
          [(ngModel)]="morada">
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Código Postal"
          [(ngModel)]="codigoPostal">
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Localidade"
          [(ngModel)]="localidade">
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="NIF (opcional)"
          [(ngModel)]="nif">
      </div>

      <div class="icone-cartao">
        <ion-icon name="card-outline"></ion-icon>
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Nome no cartão"
          [(ngModel)]="nomeCartao">
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Número do cartão"
          maxlength="16"
          [(ngModel)]="numeroCartao">
      </div>

      <div class="linha-inputs">
        <div class="input-box pequeno">
          <input
            type="text"
            placeholder="MM/AA"
            maxlength="5"
            [(ngModel)]="validade">
        </div>

        <div class="input-box pequeno">
          <input
            type="password"
            placeholder="CVV"
            maxlength="3"
            [(ngModel)]="cvv">
        </div>
      </div>

      <button class="btn-preto" (click)="finalizarPagamento()">
        Finalizar pagamento
      </button>

    </div>

  </div>

</ion-content>