.pagamento-content {
  --background: #c7dfc4;
}

.pagamento-container {
  padding: 32px 24px 95px;
}

.top-area {
  margin-bottom: 22px;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  color: #176b36;
  margin: 0;
}

h1 span {
  color: #7aad35;
}

.card-pagamento {
  background: white;
  border-radius: 18px;
  padding: 22px;
  box-shadow: 0 5px 14px rgba(0,0,0,.15);
}

.header-pagamento {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 22px;
}

.header-pagamento h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  color: #000;
}

.card-pagamento h3 {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.back-icon {
  font-size: 24px;
  color: #176b36;
}

.icone-cartao {
  width: 70px;
  height: 70px;
  margin: 0  auto 25px;
  margin-top: 25px;
  border-radius: 50%;
  background: #eaf4ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-cartao ion-icon {
  font-size: 46px;
  color: #176b36;
}

.input-box {
  background: white;
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 0 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,.12);
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 15px 0;
  color: black;
  font-size: 15px;
}

.linha-inputs {
  display: flex;
  gap: 12px;
}

.pequeno {
  flex: 1;
}

.btn-preto {
  margin-top: 22px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 25px;
  background: #000;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

h3 {
  color: #000;
  font-size: 16px;
  font-weight: 800;
  margin: 22px 0 12px;
}

.total {
  margin-top: 22px;
  text-align: center;
  color: #000;
  font-size: 22px;
  font-weight: 900;
}

.total span {
  color: #22a000;
}