<ion-content [fullscreen]="true" class="login-content">

  <div class="login-container">

    <h1>Login</h1>

    <div class="form-area">

      <ion-item lines="none" class="input-box">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"> 
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-box">
        <ion-icon name="key-outline" slot="start"></ion-icon>

        <ion-input
          [type]="mostrarPassword ? 'text' : 'password'"
          placeholder="Palavra-Passe"
          [(ngModel)]="password">
        </ion-input>

        <ion-icon
          [name]="mostrarPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="end"
          class="eye-icon"
          (click)="alterarVisibilidadePassword()">
        </ion-icon>
      </ion-item>

      <ion-button expand="block" class="btn-entrar" (click)="entrar()">
        Entrar
      </ion-button>

      <p class="texto-registar">
        Não tens Conta?
        <span routerLink="/registar">Registar Conta</span>
      </p>

    </div>

  </div>

  <div class="popup-backdrop" *ngIf="mostrarPopup">
    <div class="popup-caixa" [ngClass]="tipoPopup">
      <h2>{{ tipoPopup === 'sucesso' ? 'Sucesso' : 'Erro' }}</h2>

      <p>{{ mensagemPopup }}</p>

      <button class="popup-btn" (click)="fecharPopup()">
        OK
      </button>
    </div>
  </div>

</ion-content>