.login-content {
  --background: var(--verdevegan-fundo);
}

.login-container {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: var(--verdevegan-preto);
  margin-bottom: 40px;
}

.form-area {
  width: 100%;
}

.input-box {
  margin-bottom: 10px;
  border-radius: 8px;
  --background: var(--verdevegan-branco);
  --border-radius: 8px;
  --padding-start: 10px;
  --inner-padding-end: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

ion-icon {
  color: var(--verdevegan-preto-suave);
  font-size: 20px;
}


.btn-entrar {
  margin-top: 20px;
  height: 50px;

  --background: var(--verdevegan-preto);
  --color: var(--verdevegan-branco);
  --border-radius: 25px;

  font-weight: 700;
  text-transform: none;
}

.texto-registar {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  color: var(--verdevegan-preto);
}

.texto-registar span {
  font-weight: 800;
  margin-left: 5px;
}

ion-input {
  --color: var(--verdevegan-preto);
  --placeholder-color: #666;
  caret-color: #000;
}

.eye-icon {
  font-size: 22px;
  color: var(--verdevegan-preto-suave);
  cursor: pointer;
}
