.intro-content {
  --background: var(--verdevegan-fundo);
}

.intro-container {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 320px;
  max-width: 90%;
}

.btn-comecar {
  margin-bottom: 20px;

  --background: var(--verdevegan-preto);
  --color: var(--verdevegan-branco);

  --border-radius: 30px;

  height: 55px;

  font-size: 18px;
  font-weight: 600;

  text-transform: none;
}