.pedidos-content {
  --background: var(--verdevegan-fundo);
}

.pedidos-container {
  padding: 32px 24px 95px;
}

.top-area {
  margin-bottom: 22px;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  color: var(--verdevegan-verde);
}

h1 span {
  color: var(--verdevegan-verde-claro);
}

.card-pedidos {
  background: var(--verdevegan-branco);
  border-radius: 18px;
  padding: 22px;
  min-height: 540px;
  box-shadow: 0 5px 14px rgba(0,0,0,.15);
}

h2 {
  color: var(--verdevegan-preto);
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 22px;
}

.pedido {
  margin-bottom: 22px;
  color: var(--verdevegan-preto);
}

.pedido h3 {
  font-size: 14px;
  font-weight: 800;
  margin: 0 0 4px;
}

.pedido p {
  font-size: 12px;
  margin: 3px 0;
}

.linha-pedido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.linha-pedido strong {
  color: var(--verdevegan-preto);
}

.estado {
  margin-top: 6px;
}

.btn-entregue {
  margin-top: 10px;
  width: 100%;
  height: 34px;
  border: none;
  border-radius: 20px;
  background: var(--verdevegan-preto);
  color: var(--verdevegan-branco);
  font-size: 12px;
  font-weight: 700;
}

.titulo-historico {
  margin-top: 45px;
  padding-top: 24px;
  border-top: 2px solid var(--verdevegan-cinza-texto);
  font-size: 20px;
}

.sem-pedidos,
.sem-historico {
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  color: var(--verdevegan-preto);
  margin-top: 25px;
}

.historico {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.entregue {
  color: var(--verdevegan-verde-pontos);
  font-weight: 700;
}

.preco-item {
  color: var(--verdevegan-verde-pontos);
  font-size: 13px;
  font-weight: 800;
  margin: 2px 0 5px;
}

.total-pedido {
  margin-top: 12px;
  padding-top: 10px;
  border-top: 1px solid #ddd;

  display: flex;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 800;
  color: var(--verdevegan-preto);
}

.total-pedido span {
  color: var(--verdevegan-verde-pontos);
}

.pedido.historico {
  background: #f5f5f5;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #313131;
}

.pedido.historico h3 {
  font-size: 13px;
}

.pedido.historico .total-pedido {
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid #313131;
}

.entregue {
  background: #dff4df;
  color: var(--verdevegan-verde);
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 800;
}

.pedido:not(.historico) {
  background: #e4f7e1;
  border: 2px solid var(--verdevegan-verde);
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 22px;
}

.header-pedidos {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.header-pedidos h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  color: var(--verdevegan-preto);
}

.back-icon {
  font-size: 24px;
  color: var(--verdevegan-verde);
  cursor: pointer;
}