<ion-content class="registo-content">

  <div class="container">

    <h1>Registar Conta</h1>

    <!-- Campos do formulário de registo (validados no TS) -->
    <!-- Nome -->
    <div class="input-box" [ngClass]="{ 'input-erro': erroNome }">
      <ion-icon name="person-outline"></ion-icon>
      <input
        type="text"
        placeholder="Nome Completo"
        [(ngModel)]="nome"
      />
    </div>

    <!-- Email -->
    <div class="input-box" [ngClass]="{ 'input-erro': erroEmail }">
      <ion-icon name="mail-outline"></ion-icon>
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
      />
    </div>

    <!-- Contacto -->
    <div class="input-box" [ngClass]="{ 'input-erro': erroContacto }">
      <ion-icon name="call-outline"></ion-icon>
      <input
        type="tel"
        maxlength="9"
        inputmode="numeric"
        placeholder="Contacto"
        [(ngModel)]="contacto"
      />
    </div>

    <!-- Morada -->
    <div class="input-box" [ngClass]="{ 'input-erro': erroMorada }">
      <ion-icon name="home-outline"></ion-icon>
      <input
        type="text"
        placeholder="Morada"
        [(ngModel)]="morada"
      />
    </div>

    <!-- Password -->
    <div class="input-box" [ngClass]="{ 'input-erro': erroPassword }">
      <ion-icon name="key-outline"></ion-icon>

      <input
        [type]="mostrarPassword ? 'text' : 'password'"
        placeholder="Palavra-Passe"
        [(ngModel)]="password"
      />

      <!-- Alterna visibilidade da password -->
      <ion-icon
        [name]="mostrarPassword ? 'eye-off-outline' : 'eye-outline'"
        class="olho"
        (click)="togglePassword()"
      ></ion-icon>

    </div>

    <button class="btn-registar" (click)="registar()">
      Registar
    </button>

    <p class="login-link">
      Já tens Conta?
      <span (click)="irLogin()"> Login </span>
    </p>

  </div>

  <div class="popup-backdrop" *ngIf="mostrarPopup">
    <div class="popup-caixa" [ngClass]="tipoPopup">
      <h2>{{ tipoPopup === 'sucesso' ? 'Sucesso' : 'Erro' }}</h2>

      <p> {{ mensagemPopup }}</p>

      <button class="popup-btn" (click)="fecharPopup()">
        OK
      </button>
    </div>
  </div>

</ion-content>